

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLE LINKS -->
    <link rel="stylesheet" href="/static/css/seccionData.css">
    <link rel="stylesheet" href="/static/css/navBar.css">
    <link rel="stylesheet" href="/static/css/background.css">
    <link rel="stylesheet" href="/static/css/help.css"> 

    <!-- SCRIPTS -->
    <script src="/scripts/subirData.js"></script>
    <script src="/scripts/visualizarGraficos.js"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Heart Attack Dataset Analysis</title>
</head>
<body>
    <!-- ANIMATED BACKGROUND -->
    <div class='box'>
        <div class='wave -one'></div>
        <div class='wave -two'></div>   
        <div class='wave -three'></div>
    </div>
    <!-- NAVBAR -->
    <div class="navbar">
        <img src="/static/images/logo.png" alt="Logo" style="height:40px;"> Heart Attack Prevention
        <div class="navbar-right">
            <a href="/">Home</a>
            <a href="/index">Análisis</a>
            <a href="#" id="help-btn">Ayuda</a>
        </div>
    </div>
    <!-- SUBIR DATASET -->
    <main>
        <h3>Sector</h3>
        <h1>DATASET</h1>
        <!-- Contenedor con display flex -->
        <div style="display: flex; align-items: center;">
            <!-- Botón que activará el input de tipo file -->
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="file" style="display: none" accept=".csv" onchange="updateFileName()">
                <button id="subirBtn" type="button" onclick="document.getElementById('fileInput').click();">Elige tu dataset</button>
                <div id="fileNameDisplay" style="margin-left: 20px;" th:text="${fileName != null} ? 'Archivo seleccionado: ' + ${fileName} : 'No se ha seleccionado ningún archivo'"></div>
                <button type="submit">Subir</button>
            </form>
        </div>
        <p>Asegúrate de que tu dataset cumpla el formato de ".csv"</p>
        <div id="subirData"></div>
    </main>
    
    <!-- VISUALIZAR GRAFICOS -->
    <main>
        <h3>Sector </h3>
        <h1>ANÁLISIS</h1>
        <div style="display: flex; align-items: center;">
            <button id="btnArbol" onclick="location.href='/result';">Graficar Árbol</button>
            <button id="btnRed" onclick="location.href='/resultRed';">Graficar Red</button>
            <button id="btnClauster" onclick="location.href='/resultCluster';">Graficar Cluster</button>
            </div>
        <p>Visualiza gráficos: Árboles binarios, Red Neuronal, Cluster</p>
        <div id="visualizarGraficos"></div>
    </main>     
    <!-- VENTANA EMERGENTE HELP -->
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <h2>GUÍA DE AYUDA</h2>
            <p>1. Presiona el botón "Elige tu dataset" 🗂️ y seleccionalo asegurandote que sea en formato ".csv" 📄</p>
            <p>2. Selecciona el modelo matemático para gráficar entre Árboles binarios 🌳, Redes Neuronales 🧠 y Cluster 🫧.</p>
            <p>3. Una vez seleccionado el modelo podrás visualizarlo y en la parte superior derecha tienes la opción de descargar un reporte de tus gráficos o datos 📋.</p>
            <p>4. Tu reporte iniciará su descarga de forma automática 📥.</p>
            <h2>NOTA</h2>
            <p>5. Recuerda tener una buena conexión a internet para visualizar tus gráficos 📈 y obtener un reporte 📑.</p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const helpBtn = document.getElementById('help-btn');
            const popup = document.getElementById('popup');
            const closeBtn = document.querySelector('.close-btn');
    
            helpBtn.addEventListener('click', function () {
                popup.style.display = 'flex';
            });
    
            closeBtn.addEventListener('click', function () {
                popup.style.display = 'none';
            });
    
            window.addEventListener('click', function (event) {
                if (event.target == popup) {
                    popup.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>

